<table class="table">
  <thead>
    <tr>
      <th>Mã đấu giá</th>
      <th>Tên sản phẩm đấu giá</th>
      <th>Mã hóa đơn cho khách hàng</th>
      <th>tổng tiền hóa đơn cho khách hàng</th>
      <th>Tổng tiền hóa đơn bán</th>
    </tr>
  </thead>
  <tbody>
    <% @invoices.each do |i| %>
      <tr>
        <td><%= i.auction_id %></td>
        <td><%= i.product_name %></td>
        <td><%= i.receipt_id %></td>
        <td><%= i.receipt_total_amount %></td>
        <td><%= i.invoice_total_amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>