<h3 class="container">Xử lý Khiếu nại</h3>

<div class="container">
	<h4><%= @cus.customer_name %></h4>
	<div>Ngày bị block: <%= @cus.updated_at.to_date %></div>
	<div>Bị block tới: <%= @cus.blocking_time %></div>
	<br>

	
	<%= form_tag complaint_path, method: :patch, local: true do |f|%>
	<div class="form-group">
		<label class="btn btn-success">
			<%= radio_button_tag 'dieuchinh', 'ngungblock', true %> Ngừng block
		</label>
		<label class="btn btn-default">
			<%= radio_button_tag 'dieuchinh', 'block3ngay' %> Block 3 ngày
		</label>
		<label class="btn btn-default">
			<%= radio_button_tag 'dieuchinh', 'block1tuan' %> Block 1 tuần
		</label>
		<label class="btn btn-default">
			<%= radio_button_tag 'dieuchinh', 'block2tuan' %> Block 2 tuần
		</label>
		<label class="btn btn-default">
			<%= radio_button_tag 'dieuchinh', 'block1thang' %> Block 1 tháng
		</label>
		<label class="btn btn-default">
			<%= radio_button_tag 'dieuchinh', 'blockvinhvien' %> Block vĩnh viễn
		</label>
	</div>
	<br>
	<div class="form-group">
		<%= text_area_tag 'giaithich', nil, placeholder: 'Giải thích với khách hàng...', rows: "10", cols: "108" %>
	</div>
	<br>
	
	<button type="submit" class="btn">Xử lý xong</button>
	<% end -%>
</div>