<% content_for :title, "Sản phẩm đã bán được" %>
<% @products.each do |product| %>
	<div class="row" style="margin-top: 5px">
		<div class="col-lg-4">
			<a  href="<%= image_path product.image.url %>"><img class="img-res" src="<%= image_path product.image.url %>" alt=""/></a>
		</div>
		<div class="col-lg-8">
			<table class="table table-hover">
			  <thead>
			    <tr class="info">
			      <th style="padding-left:10px; font-weight:bold; font-size:18px; width: 50%">Thông tin sản phẩm</th>
			      <th style="width: 50%"></th>
			    </tr>
			  </thead>
			  <tbody>
			  	<tr>
			      <td style="font-weight: bold; width: 50%">Mã sản phẩm</td>
			      <td style="width: 50%"><%= product.product_id %></td>
			    </tr>
			    <tr>
			      <td style="font-weight: bold; width: 50%">Tên sản phẩm</td>
			      <td style="width: 50%"><%= product.product_name %></td>
			    </tr>
			    <tr>
			      <td style="font-weight: bold; width: 50%">Mô tả</td>
			      <td style="width: 50%"><%= product.description %></td>
			    </tr>
			    <tr>
			      <td style="font-weight: bold; width: 50%">Tên người bán</td>
			      <td style="width: 50%"><%= product.customer_name %></td>
			    </tr>
			    <tr>
			      <td style="font-weight: bold; width: 50%">Loại sản phẩm</td>
			      <td style="width: 50%"><%= product.product_type_name %></td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
<% end %>
