<!DOCTYPE html>
<html>

<head>
    <title><%= yield(:title) %></title>

    <%= render 'bootstrap_jquery' %>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>    	
</head>

<body>
    <%= render 'navbar' %>
    
    <div id="mainBody" style="margin-top: 20px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <%= render 'sidebar' %>
                </div>
                <div class="col-lg-9">
                    <%= yield %>
                </div>
            </div>
        </div>
    </div>

   	<%= render 'footer' %>
</body>

</html>